.head-container {
  width: 100%;
  background: linear-gradient(to right, #111827, #1f2937);
  color: white;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #374151;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.flex-item-gap {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo-container {
  width: 2rem;
  height: 2rem;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}